<app-card *ngIf="themeparks" cardTitle="Filteren" cardClasses="mb-8">
  <div class="flex flex-col">
    <label for="rideArea" class="mb-1">Land</label>
    <select class="appearance-none outline-none focus:ring-3 ring-indigo-700 ring-opacity-40 border-gray-300 border rounded bg-white text-gray-900" id="rideArea" [(ngModel)]="selectedCountryId">
      <option value="">Alle Landen</option>
      <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
    </select>
  </div>
</app-card>

<h1 class="text-xl mb-1 text-indigo-800">Alle pretparken</h1>
<div *ngIf="themeparks.length > 0; else noParks" class="flex flex-col">
  <app-card *ngFor="let tp of selectedParks" [routerLink]="['/park', tp.id]" cardClasses="hover:bg-gray-100" class="cursor-pointer mb-4">
    <div class="flex flex-row items-center mb-2">
      <img class="w-6 h-6 rounded-full overflow-hidden object-cover mr-2" [src]="tp.country.flag_url">
      <h2 class="text-lg text-indigo-800">{{ tp.name }}</h2>
    </div>

    <p *ngIf="tp.description" class="text-sm text-gray-600">{{ tp.description }}</p>
  </app-card>
</div>

<ng-template #noParks class="flex">
  Geen parken gevonden
</ng-template>
