<app-button link="../" *ngIf="park" buttonText="Terug naar {{ park.name }}"></app-button>

<app-card *ngIf="shows && shows.length > 0" cardTitle="Filteren">
  <div class="flex flex-col mb-2" *ngIf="parkService && parkService.supportsRideAreas">
    <label for="showArea" class="mb-1">Themagebied</label>
    <select class="appearance-none outline-none focus:ring-3 ring-indigo-700 ring-opacity-40 border-gray-300 border rounded bg-white text-gray-900" id="showArea" [(ngModel)]="showArea">
      <option value="">Alle themagebieden</option>
      <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
    </select>
  </div>

  <div class="flex flex-col">
    <label for="displayType" class="mb-1">Weergave</label>
    <select (ngModelChange)="saveDisplayType($event)" class="appearance-none outline-none focus:ring-3 ring-indigo-700 ring-opacity-40 border-gray-300 border rounded bg-white text-gray-900" id="displayType" [(ngModel)]="displayType">
      <option value="cards">Kaarten</option>
      <option value="list">Lijst</option>
    </select>
  </div>
</app-card>

<div *ngIf="shows && shows.length > 0; else showsLoading">
  <div *ngIf="displayType === 'cards' && shows" class="flex flex-col md:flex-row flex-wrap -mx-4">
    <div *ngFor="let show of selectedShows" class="md:w-1/2 lg:w-1/3">
      <app-show-card [show]="show"></app-show-card>
    </div>
  </div>

  <app-card *ngIf="displayType === 'list'" padding="p-0" cardClasses="flex flex-col my-4">
    <app-show-list *ngIf="shows && shows.length > 0" [shows]="selectedShows"></app-show-list>
  </app-card>
</div>

<ng-template #showsLoading>
  <app-card *ngIf="shows == null" cardClasses="mt-8">
    <div class="text-lg text-indigo-800">Shows ophalen</div>
    <p class="text-gray-600">De shows worden geladen...</p>
  </app-card>

  <app-card *ngIf="shows && shows.length == 0" cardClasses="mt-8">
    <div class="text-lg text-indigo-800">Geen shows gevonden</div>
    <p class="text-gray-600">We konden geen shows ophalen</p>
  </app-card>
</ng-template>
