<app-card *ngIf="park" padding="p-0" cardClasses="mb-4 lg:mb-8">
  <img class="max-h-60 object-center object-cover w-full" *ngIf="park.image_url" [src]="park.image_url"
       alt="Image of {{ park.name }}">

  <div class="p-4">
    <h1 class="text-lg text-indigo-800 dark:text-indigo-200">{{ park.name }}</h1>
    <p *ngIf="park.description" class="text-gray-600 dark:text-gray-400">{{ park.description }}</p>
  </div>
</app-card>

<app-card *ngIf="parkService && parkService.supportsOpeningTimes" cardTitle="Openingstijden en evenementen">
  <div *ngIf="openingTimes && openingTimes.times.length > 0">Geopend van {{ openingTimes.times[0].open }}
    tot {{ openingTimes.times[0].close }}</div>
  <div *ngIf="openingTimes && openingTimes.times.length == 0" class="text-gray-600 dark:text-gray-500">Het park lijkt
    vandaag dicht te zijn.
  </div>
  <div *ngIf="!openingTimes" class="text-gray-600 dark:text-gray-500">Openingstijden worden opgehaald...</div>

  <div *ngIf="openingTimes && openingTimes.events">
    <div *ngFor="let event of openingTimes.events" class="text-gray-600 dark:text-gray-400 mt-2">
      <h3 class="text-indigo-800 dark:text-indigo-200">{{ event.title }}</h3>
      <p class="text-sm" [innerHTML]="event.description"></p>
    </div>
  </div>
</app-card>

<div class="flex flex-col lg:flex-row flex-wrap -mx-4">
  <div class="flex flex-col lg:w-1/2">
    <div class="mx-4">
      <div *ngIf="popularRides == null">
        <app-card cardTitle="Populaire Attracties">
          <div class="text-indigo-800 dark:text-indigo-200">Attracties worden geladen</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We halen momenteel alle attracties op.</p>
        </app-card>
      </div>

      <div *ngIf="popularRides && popularRides.length == 0">
        <app-card cardTitle="Populaire Attracties">
          <div class="text-indigo-800 dark:text-indigo-200">Geen attracties gevonden</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We konden geen attracties ophalen van dit park.</p>
        </app-card>
      </div>

      <app-card *ngIf="popularRides && popularRides.length > 0" padding="p-0" cardTitle="Populaire Attracties">
        <app-ride-list [rides]="popularRides"></app-ride-list>
      </app-card>

      <app-button margin="mb-4 mt-2" link="rides" buttonText="Alle attracties"></app-button>
    </div>
  </div>

  <div class="flex flex-col lg:w-1/2">
    <div class="mx-4">
      <div *ngIf="popularRestaurants == null">
        <app-card cardTitle="Populaire Restaurants">
          <div class="text-indigo-800 dark:text-indigo-200">Restaurants worden geladen</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We halen momenteel alle restaurants op.</p>
        </app-card>
      </div>

      <div *ngIf="popularRestaurants && popularRestaurants.length == 0">
        <app-card cardTitle="Populaire Restaurants">
          <div class="text-indigo-800 dark:text-indigo-200">Geen restaurants gevonden</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We konden geen restaurants ophalen van dit park.</p>
        </app-card>
      </div>

      <app-card *ngIf="popularRestaurants && popularRestaurants.length > 0" padding="p-0" cardTitle="Populaire Restaurants">
        <app-restaurant-list [restaurants]="popularRestaurants"></app-restaurant-list>
      </app-card>

      <app-button margin="mb-4 mt-2" link="restaurants" buttonText="Alle restaurants"></app-button>
    </div>
  </div>

  <div class="flex flex-col lg:w-1/2" *ngIf="parkService && parkService.supportsShows">
    <div class="mx-4">
      <div *ngIf="shows == null">
        <app-card cardTitle="Shows">
          <div class="text-indigo-800 dark:text-indigo-200">Shows worden geladen</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We halen momenteel alle shows op.</p>
        </app-card>
      </div>

      <div *ngIf="shows && shows.length == 0">
        <app-card cardTitle="Shows">
          <div class="text-indigo-800 dark:text-indigo-200">Geen shows gevonden</div>
          <p class="text-gray-600 dark:text-gray-500 text-sm">We konden geen shows ophalen van dit park.</p>
        </app-card>
      </div>

      <app-card *ngIf="shows && shows.length > 0" padding="p-0" cardTitle="Shows">
        <app-show-list [shows]="shows"></app-show-list>
      </app-card>

      <app-button margin="mb-4 mt-2" link="shows" buttonText="Alle shows"></app-button>
    </div>
  </div>
</div>
