<app-button link="../" *ngIf="park" buttonText="Terug naar {{ park.name }}"></app-button>

<app-card *ngIf="rides && rides.length > 0 && parkService && (parkService.supportsRideAreas)" cardTitle="Filteren">
  <div class="flex flex-col" *ngIf="parkService.supportsRideAreas">
    <label for="rideArea" class="mb-1">Themagebied</label>
    <select class="border-indigo-700 border rounded bg-white" id="rideArea" [(ngModel)]="rideArea">
      <option value="">Alle themagebieden</option>
      <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
    </select>
  </div>
</app-card>

<div *ngIf="rides && rides.length > 0; else ridesLoading" class="flex flex-col lg:flex-row flex-wrap -mx-4">
  <div *ngFor="let ride of selectedRides" class="md:w-1/2 lg:w-1/3">
    <div [routerLink]="ride.id"
         class="cursor-pointer m-4 h-72 relative flex flex-col rounded shadow hover:shadow-2xl transition-all duration-100 overflow-hidden">
      <div *ngIf="ride.image_url" class="h-72 overflow-hidden">
        <img class="bg-gray-300 w-full h-full object-center object-cover" [lazyLoad]="ride.image_url">
      </div>

      <div *ngIf="ride.waitingTimes" class="absolute shadow left-4 top-4 rounded py-1 px-2 text-sm text-white"
           [ngClass]="{'bg-red-700': ride.waitingTimes.state == 'Closed'}">
        <span *ngIf="ride.waitingTimes.state == 'Open'; else otherRideState">{{ ride.waitingTimes.state }}</span>
        <ng-template #otherRideState>{{ ride.waitingTimes.state}}</ng-template>
      </div>

      <div *ngIf="ride.area" class="absolute shadow right-4 top-4 rounded py-1 px-2 text-sm text-white bg-indigo-700">
        {{ ride.area }}
      </div>

      <div class="absolute w-full bottom-0">
        <div class="p-4 bg-white rounded m-4 shadow m-4">
          <h2 (click)="call(ride)" class="text-indigo-800 font-bold">{{ ride.title }}</h2>

          <div *ngIf="ride.minSizeEscort">Minimaal met begeleiding: {{ ride.minSizeEscort }} cm</div>
          <div *ngIf="ride.minSize">Zonder begeleiding: {{ ride.minSize }} cm</div>
          <div *ngIf="ride.maxSize">Maximaal: {{ ride.minSize }} cm</div>

          <div>{{ ride.area }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ridesLoading>
  <app-card *ngIf="rides == null" cardClasses="mt-8">
    <div class="text-lg text-indigo-800">Attracties ophalen</div>
    <p class="text-gray-600">De attracties worden geladen...</p>
  </app-card>

  <app-card *ngIf="rides && rides.length == 0" cardClasses="mt-8">
    <div class="text-lg text-indigo-800">Geen attracties gevonden</div>
    <p class="text-gray-600">We konden geen attracties ophalen</p>
  </app-card>
</ng-template>
